@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background-color: rgb(32, 32, 77);
  font-size: 12px;
  font-family: "Tilt Neon", sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(3, 2, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 20px;
  border: 3px solid black;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

p {
  font-weight: normal;
}
.fadeOut {
  animation: fadeOut 0.3s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.cardHover:hover {
  background-color: rgb(37, 37, 77);
}

#projects-section > div {
  position: relative;
  margin: 1em;
  padding: 0.5em 1em;
  font-size: inherit;
  font-weight: 700;
  /* background: none; */
  border: 0;
  box-sizing: border-box;
}

.header-container {
  transform: translate(-20%, -50%);
  background-color: aquamarine;
}

.navBtn {
  font-size: smaller;
}

.hr-active {
  width: 100px;
  height: 4px;
  background-color: #000;
  transform-origin: left;
  transition: width 0.5s, background-color 0.5s;
  opacity: 0.7;
}

.hr-active.active {
  width: 140px;
  background-color: #00ffff;
  opacity: 1;
}

.hr-nav-container {
  font-size: 16px;
}
.hr-nav-container:hover .hr-active {
  width: 150px;
  transform-origin: left;
  transition: width 0.5s, background-color 0.5s;
}

.social-btn {
  opacity: 0.6;
  mix-blend-mode: difference;
}

.social-btn:hover {
  opacity: 1;
}
#social-btns-footer {
  color: white;
}

#welcome-spacer {
  margin-right: 2rem;
  /* height: 30vh; */
  max-height: 30vh;
}
