@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(32, 32, 77);
}

/* #drawing-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}



#drawing-container.drawing {
  opacity: 1;
} */
#about-me-sect {
  display: none;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* this is an example of creating a custom style class for tailwind css
 @layer utilities {
  .btn-primary {
     @apply bg-blue-500 text-white py-2 px-4 rounded;
  }
 }


 <button class="btn-primary">Click me</button> */