@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body {
  background-color: rgb(32, 32, 77);
}



#about-me-sect {
  display: none;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;

}


.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}


.cardHover:hover {
  background-color: rgb(37, 37, 77);
}


#projects-section > div {
  position: relative;
  margin: 1em;
  padding: 1em 2em;
  font-size: inherit;
  font-weight: 700;
  background: none;
  border: 0;
  box-sizing: border-box;
}

.draw {
  position: relative;
  overflow: hidden;
}

.draw::before,
.draw::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.5s ease-out, background-color 0.5s ease-out;
}

.draw::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.draw::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  background-color: #00FFFF;
}



.navBtn {
  font-size: smaller;
  
}

/* .hr-active {
  width: 100px;
  height: 4px;
  color: white;
  padding-bottom: 3px;

}

.hr-active.active {
  animation: hrGrow 0.5s ease-in;

}

@keyframes hrGrow {
  0% {
    width: 100px;
  }

  100% {
    width: 130px;
  }
} */

.hr-active {
  width: 100px;
  height: 4px;
  background-color: #000;
  transform-origin: left;
  transition: width 0.5s, background-color 0.5s;
  opacity: 0.7;
}

.hr-active.active {
  width: 140px;
  background-color: #00FFFF;
  opacity: 1;
}

.social-btn{
  opacity: 0.6;
}
.social-btn:hover {
  opacity: 1;
 
}

/* this is an example of creating a custom style class for tailwind css
 @layer utilities {
  .btn-primary {
     @apply bg-blue-500 text-white py-2 px-4 rounded;
  }
 }


 <button class="btn-primary">Click me</button> */